<div class="container-fluid" style="font-family: 'Open Sans', sans-serif;">
</br>
</br>
  <div class="col-sm-4 col-sm-offset-4" style="background-color:#093954; color: white; font-family: 'Montserrat', sans-serif; padding-left: 30px; padding-right: 30px;">
   
</br>
</br>
</br>
<h1>New Mastermind Group</h1>

<%= render 'form' %>

<%= link_to 'Back', mastermind_groups_path %>

</br>
</br>
</br>
</br>
</div>
</div>